body {
    color: #3A2F27;
    background: #fff;
    font-family: Verdana,Helvetica,Arial,Geneva,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
#wrapper {
    margin: 0 auto;
    margin-top:15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
    background: #fff;
    margin-bottom: 60px;
    overflow: hidden;
}

.cat-list {
    background: none repeat scroll 0 0 #FFEFBF;
    color: #000;
    float: left;
    font-size: 12px;
    padding: 7px;

}
a{
    color: #e17b43;
}
.cat-list a {
    color: #c0781c;
    text-decoration: none;
    text-transform: uppercase;
}
.comments-link {
    background-color: #0b8eed;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    padding: 7px 9px;
    text-decoration: none;
}

#tag{
    display: inline;
    background-color: #bdeda6;
    padding: 5px;
    margin: 3px;

}
#tag a{
    color: #000;
    text-decoration: none;
}
.articleinfo
{
    background:  transparent
}
#commentcontainer
{
    margin:  5px;
}

#visitorbutton{
   text-transform: uppercase;
    background: #0B8EED;
    padding: 5px 10px;
    color: #fff;
    text-decoration: bold;
    cursor:pointer;
    border: 0px;
}

#notificationtext
{
    padding: 6px;

}

#errorcolor{
    background-color: #F6DCDC;
    color: #D64C4C;
    display:none;

}

#rightcontent .block
{
  border: 1px solid #d8ccbd;
    margin-top: 15px;
    margin-left: 13px;
}

#rightcontent ul
{
    font-size: 0.92em;
    line-height: 1.8;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#rightcontent li{
    border-top: 1px solid #dadada;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 3px;

}

#rightcontent ul a {
    color: #444444;
    display: block;
    padding: 5px;
    text-decoration: none;
}

#rightcontent .title {

    float: left;
    padding: 0px 0 5px 5px;

}

#commentcontainer h2
{
    color: #006699;
    background: #f7f7f7;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    padding: 7px;
}
#imparticle
{
    font-weight: bold;
    background: none repeat scroll 0 0 #FFEDF1;
    border-bottom: 1px solid #FFCAD6;
    border-top: 1px solid #FFCAD6;
    color: #333333;font-size: 11px;
}
.articleinfo .author-link
{
    background: url("/img/icons.png") no-repeat scroll 0 -228px transparent;
    border-right: 1px solid #EEEEEE;
    color: #999999;
    font-size: 12px;
    margin-right: 7px;
    padding-left: 25px;
    padding-right: 15px;
    text-decoration: none;
}
.articleinfo .published-time
{
    background: url("/img/icons.png") no-repeat scroll 0 -259px transparent;
    color: #999999;
    font-size: 12px;
    padding-left: 25px;
    text-decoration: none;
}

.articleinfo .category
{
    background: url("/img/icons.png") no-repeat scroll 0 -325px  transparent;
    color: #999999;
    font-size: 12px;

    padding-left: 25px;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

#articles h2.entry-title a {
    line-height: 30px;

}
.articlecontent {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

h2.entry-title-onlytitle  a
{
    border-top: 1px solid #91dbff;
    border-bottom: 1px solid #91dbff;
    background: #cae1ff;
    color: #333333;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0 12px;
    text-decoration: none;
}


h2.entry-title-imp  a
{
    border-top: 1px solid #ffcad6;
    border-bottom: 1px solid #ffcad6;
    background: #ffedf1;
    color: #333333;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0 12px;
    text-decoration: none;
}
h2.entry-title a {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background: #efefef;
    color: #333333;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0 12px;
    text-decoration: none;
}

h3#message {
    background-color: #b0f2ad;
    border: 1px solid #7dba45;
    padding: 10px;
    color: #000;
    font-weight: bold;
}
.currentlyselectedchild{
    background: #595959;
    color: #fff;
}

.currentlyselectedparentlowvisible
{
    background: #0266b1;
    color: #fff;
}
.currentlyselectedparent{
    background: #0297ff;
    color: #fff;
}

.currentlyunselectedchild{
    background: #fff;
    color: #000;
}

.currentlyunselectedparent{
    background: #fff;
    color: #000;
}

.myMenu {
    margin: 0;
    padding: 0;
}

.menuitems li {
    display: inline;
    line-height: 200%;
    list-style: none outside none;
    margin-right: 12px;
    padding: 10px 10px 10px 0;
    text-align: center;
    white-space: nowrap;

}


.menuitems , .submenucontainer ul
{
    margin: 0;
    padding: 0;

    list-style: square outside none;
}
.menuitems li a{

    text-decoration: none;
    padding: 10px;
}



.menuitems li a:hover {
    background-color: #0297ff;
}

/*style the sub menu*/
.menuitems li ul {
    position: absolute;
    visibility: hidden;
    border-top: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.submenucontainer
{
    background: #0297ff;
    clear:both;
    margin-top: 5px;
    display: block;
    color: #fff;
    min-height: 44px;


}
.submenucontainer ul{
    padding: 10px;
}
.submenucontainer li {
    display: inline;
    line-height: 200%;
    list-style: none outside none;
    margin-right: 12px;

    text-align: center;
    white-space: nowrap;
}


.submenucontainer ul li a {
    text-decoration: none;
    padding: 6px;
    margin: 5px;
    color: #fff;
    border-radius: 3px;
}


.submenucontainer ul li a:hover {
    background-color: #1e4cd1;
    background: #0266B1;
    color: #fff

}

.menuitems li ul li a:link, .menuitems li ul li a:visited {
    background-color: #09F;
    width: auto;
}

.menuitems li ul li a:hover {
    background-color: #1e4cd1;
}